* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 20px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 15px;
}

.btn {
    padding: 12px;
}

fieldset {
    width: 100%;
    margin-bottom: 20px;
}

legend {
    font-size: 20px;
}

input {
    width: 100%;
    font-size: 20px;
    padding: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #aaa;
    height: 200px;
    margin-top: 100px;
}

.container {
    margin: 0 auto;
    padding-top: 30px;
}

.formContainer {
    width: 500px;
    margin: 0 auto;
}